button{
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    box-sizing: border-box;
    width: 300px;
}

button:hover{
    opacity: 0.9;
}

.botao-login{
    background-color: #255c29;
}

.botao-signin{
    background-color: #388e3c;
}

.botao-login:hover{
    background-color: #0f4413;
}

.botao-signin:hover{
    background-color: #2d7730;
}